apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-deployment
  namespace: jenkins-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-pod
  template:
    metadata:
      labels:
        app: jenkins-pod
    spec:
      nodeSelector:
        node-role: jenkins-node
      securityContext:
        fsGroup: 1000
      serviceAccountName: jenkins
      initContainers:
        - name: fix-permissions
          image: busybox:1.36
          command:
          - sh
          - -c
          - |
            echo "Fixing permissions on /var/jenkins_home..."
            chown -R 1000:1000 /var/jenkins_home || true
            chmod -R g+rwX /var/jenkins_home || true
            echo "Done"
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home

      containers:
        - name: jenkins-container
          image: mohfathy/jenkins-with-docker-kubectl-awscli:latest
          ports:
            - containerPort: 8080
            - containerPort: 50000
          env:
            - name: DOCKER_HOST
              value: tcp://localhost:2375
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home
        - name: docker
          image: docker:24.0.6-dind
          securityContext:
            privileged: true
          env:
            - name: DOCKER_TLS_CERTDIR
              value: ""
          args: ["--host=tcp://0.0.0.0:2375"]
          volumeMounts:
            - name: docker-graph-storage
              mountPath: /var/lib/docker
      volumes:
        - name: jenkins-home
          persistentVolumeClaim:
            claimName: jenkins-pvc
        - name: docker-graph-storage
          emptyDir: {}
